
.header{
	box-shadow: 0 0 1.25rem 0 rgb(0 0 0 / 10%);
    padding: 0 0.938rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    min-height: 4.563rem;
    line-height: 4.563rem;
    left: auto;
    right: 0;
    width: 100%;
    display: inline-block;
    z-index: 1000;
    background: #fff;
    margin: 0;
    transition: all .3s ease-in-out;
	
}
.header__inner {
	
}
.logo {	text-decoration: none;
}
.logo__img {
	width: 60px;
}
.logo span {
	font-family: Poppins,sans-serif;
	margin-left: 0.625rem;
	font-size: 1.75rem;
	line-height: 2.813rem;
	color: #3f414d;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	transition: all .3s ease-in-out;

}