body {
	color: #777d74;
	background-color: #f8f9fa;
}

main {
display: flex;
flex-grow: 1;
}

.main__inner {
	display: flex;
	height: 100%;
}

.card {
	box-shadow: 0 0 1.25rem 0 rgb(0 0 0 / 10%);
	margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.main .card {
	margin-left: 15px;
	flex-grow: 1;
}